name: Build

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup KernelPatch source
      run: |
        cd kpm
        rm -rf kernel
        git clone --depth=1 https://github.com/bmax121/KernelPatch.git kernel

    - name: Install Android NDK
      run: |
        cd ~
        wget -q https://dl.google.com/android/repository/android-ndk-r27d-linux.zip
        unzip -q android-ndk-r27d-linux.zip
        echo "ANDROID_NDK=$HOME/android-ndk-r27d" >> $GITHUB_ENV

    - name: Build KPM
      run: |
        make -C kpm MYKPM_VERSION=r${{ github.run_number }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: frida-hide-kpm
        path: |
          kpm/build/*.kpm
